.faixa-cinza {
    padding 30px
    background-color alpha(black, .2)
    text-align center
    font-size 1.333rem
    display flex
    align-items center
    justify-content center
    color blue
    i.fa {
        margin-right 10px
        font-size 1.5em
    }
}