.noticia-display {
    width 450px
    border red

    .image-wrap {
        align-self stretch
        position relative
        display flex
        background-position center center
        background-size cover
        &:after {
            padding-bottom 45%
            content ''
        }        
    }
    
    .text-wrap {
        padding 20px
        padding-right 160px
    }
}