.pagination {
    display flex
    align-items center
    justify-content center
    
    a {
        display inline-flex
        align-items center
        justify-content center
        size(30px)
        margin 0 5px
        background-color white
        font-weight 500
        font-size 1.1rem
        
        i.fa {
            font-size 1.7rem
        }
    }
}