.produtos-display-container {
    background-color orange
    background-image url(../img/textura_geometrica.png);
    background-size cover
    background-position center center
}

.produto-display {
    border 3px solid white
    margin 0 20px
    padding 15px
    text-align center
    color white
    
    .image-wrap {
        position relative
        margin -15px -15px 0 -15px
        background-position center center
        background-repeat no-repeat
        background-size cover
        background-color alpha(white, .3)
        display block
        
        &:after {
            display block
            content ''
            padding-bottom 40%
        }
    }
    
    .text-wrap {
        .produto-title {
            font-size 2rem
            font-weight 500
        }
        
        .produto-description {
            font-size 1.1666667rem
            line-height 1.3
            text-align left
        }
        
        a {
            font-size 1.1666667rem
        }
    }
}