.search-group {
    display flex
    
    input {
        flex 1
        border-radius 7px
        padding 8px 12px
        font-size 1.4rem
        border 0
        outline 0
        font-weight 300
    }
    
    button {
        padding 0 20px
        font-size 1.2rem
        background #173c46
        color white
        border 0
        border-radius 7px
        margin-left 10px
        outline 0
        cursor pointer
        font-weight 300
        
        display flex
        align-items center
        justify-content center
        
        i.fa {
            margin-right 10px
        }
    }
}