.white-box {
    background-color white
    padding 30px 70px 20px
    box-shadow 1px 1px 3px alpha(black, .3)
    
    p {
        color alpha(black, .6)
        line-height 1.4
        font-size 1.3rem
    }
    
    &.move-up {
        margin-top -100px
    }
}