.row {
    display flex
    
    +below(800px){
        flex-direction column
    }
    
    .flex {
        flex 1
    }
}

.lista-contatos {
    font-size 1.6rem
    font-weight 400
    li {
        margin 10px
    }
}