a.social
    background-color #173c46
    display inline-block
    size(23px)
    color white
    display flex
    align-items center
    justify-content center
    border-radius 50%
    font-size 1.1rem

a 
    text-decoration none
    color blue

    &:hover 
        opacity .7
        
    &.cta
        border 2px solid orange
        padding 16px
        font-size 1.65rem
        font-weight 500
        text-transform uppercase
        
    &.underline
        position relative
        &:after
            display block
            position absolute
            content ''
            left 0
            right 0
            bottom -1px
            height 1px
            background-color blue
            
    &.borded
        color orange
        border 2px solid orange
        padding 7px 10px
        border-radius 50px
        display inline-block
        text-transform uppercase
        
        &:hover
            transition 200ms
            color white
            background-color orange
            opacity 1
            
        &.inverted
            color white
            border-color white
            &:hover
                color orange
                background-color white
            
